<!-- Navigation Bar -->
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="/">
      <img class="logo-light" src="/static/images/feup_logo.png" alt="FEUP Logo">
      <img class="logo-dark" src="/static/images/feup_logo_dark_mode.png" alt="FEUP Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTeam" 
            aria-controls="navbarTeam" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">☰</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTeam">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link {% if current_page == 'home' %}active{% endif %}" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link {% if current_page == 'dashboard' %}active{% endif %}" href="/dashboard">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link {% if current_page == 'team' %}active{% endif %}" href="/team">Equipa</a></li>
        <li class="nav-item"><a class="nav-link {% if current_page == 'traffic' %}active{% endif %}" href="/traffic">Tráfego</a></li>
      </ul>
    </div>
  </nav>