<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8" />
  <title>Equipe - Projeto Smart City</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
  <!-- External CSS -->
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<!-- Navigation -->
{% include 'navigation.html' %}

<!-- Hero Section -->
<section class="hero">
  <div class="hero-content container">
    <h1>A Nossa Equipa</h1>
    <p>Conheça os membros que tornam este projeto possível.</p>
  </div>
</section>

<!-- Team Section -->
<section class="section">
  <div class="container">
    <div class="team-content">
      <h2 class="section-title">Sobre a Equipa</h2>
      <p class="lead text-justify">
        A Equipa 1 é composta por 11 membros, cada um trazendo conhecimentos específicos e complementares para o desenvolvimento deste projeto. 
        Contamos com estudantes focados em programação, responsáveis pelo desenvolvimento de software e pela implementação dos microcontroladores; 
        temos integrantes que se dedicam ao design, assegurando que a maquete seja funcional e visualmente apelativa; 
        e contamos ainda com membros responsáveis pelos circuitos elétricos que permitem alimentar toda a maquete.
      </p>
      <p class="lead text-justify">
        Além disso, promovemos uma cultura de colaboração onde cada membro tem a oportunidade de contribuir, partilhar ideias e aprender com os outros. 
        A diversidade de perspetivas e habilidades dentro da equipa permite-nos enfrentar desafios de maneira criativa e alcançar resultados sólidos. 
        Com organização, espírito de entreajuda e motivação para inovar, juntamos esforços para apresentar uma maquete que simula uma cidade inteligente 
        capaz de inspirar e demonstrar o potencial da tecnologia no contexto urbano.
      </p>
    </div>
  </div>
</section>

<!-- Team Members Section -->
<section class="section">
  <div class="container">
    <h2 class="section-title">Membros</h2>
    <div class="row">
      <!-- Team Member 1 -->
      <div class="col-md-4 team-member">
        <div class="card">
          <div class="img_container">
            <img src="/static/images/TEAM_ARTHUR.jpg" alt="Arthur Menes Brito Sousa">
          </div>
          <div class="card-body">
            <h5><strong>Arthur Menes Brito Sousa</strong></h5>
            <p>Função: Líder do Projeto</p>
            <p>Neste projeto, atuei como líder da equipa, propondo a gestão do time e contribuindo 
              no desenvolvimento técnico. Fui responsável pelo treinamento e deploy do modelo de 
              visão por computador na SBC, além de definir as primeiras zonas de deteção. Implementei 
              a comunicação entre a Raspberry Pi 5 e a Pi Pico via MQTT e desenvolvi o algoritmo da 
              iluminação inteligente. Também colaborei na documentação e nas etapas práticas de corte, 
              montagem e acabamento da maquete, garantindo a entrega no prazo.</p>
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="col-md-4 team-member">
        <div class="card">
          <div class="img_container">
            <img src="/static/images/TEAM_MARIA.jpg" alt="Maria Pinto Calçada">
          </div>
          <div class="card-body">
            <h5><strong>Maria Pinto Calçada</strong></h5>
            <p>Função: Projetista e Colaboradora na Implementação Estrutural</p>
            <p>Enquanto integrante do Departamento 1, participei ativamente na execução 
              física da maquete representativa da Smart City, contribuindo para a definição 
              do layout urbano e para a aplicação prática dos seus elementos estruturais, 
              como vias, áreas verdes e edifícios. Estive envolvida no processo de seleção 
              e aquisição dos materiais adequados à construção, assegurando a qualidade e 
              a coerência visual do projeto. Em conjunto com a equipa, colaborei no desenvolvimento 
              das estratégias de simulação de situações de emergência, garantindo a integração 
              funcional destes cenários na maquete. Esta experiência permitiu-me reforçar 
              competências em planeamento, trabalho em equipa e execução técnica no contexto 
              de um projeto de engenharia de sistemas.</p>
          </div>
        </div>
      </div>
      <!-- Team Member 3 -->
      <div class="col-md-4 team-member">
        <div class="card">
          <div class="img_container">
            <img src="/static/images/TEAM_ALEXANDRE.jpg" alt="Alexandre Miguel Lima Reis" style="height: 130%; scale: 1.2;">
          </div>
          <div class="card-body">
            <h5><strong>Alexandre Miguel Lima Reis</strong></h5>
            <p>Função: Projetista e modulador 3D</p>
            <p>No desenvolvimento deste projeto consegui adquirir e aplicar capacidades de planeamento 
              e desenvolvimento de projetos, desde o seu design à sua conceção, essenciais tanto em 
              engenharia como em várias outras áreas.Na conceção do projeto como parte do departamente 1, 
              consegui desenvolver estruturas em 3D com CAD e Inventor, trabalhar tanto na construção da 
              base da maquete como dos seus elementos na representação de uma cidade (prédios e ruas) - 
              carpintaria e bricolagem - permitindo articulação com os elementos (eletrónicos e outros) 
              integrados pelos outros departamentos. Em geral, conseguimos trabalhar bem em equipa (apesar 
              dos eventuais desentendimentos) e ultrapassar muitos dos obstáculos que se apresentaram no 
              desenvolvimento do projeto.</p>
          </div>
        </div>
      </div>
      <!-- Team Member 4 -->
      <div class="col-md-4 team-member">
        <div class="card">
          <div class="img_container">
            <img src="/static/images/TEAM_TIAGO.jpg" alt="Tiago Miguel Vicente Pino">
          </div>
          <div class="card-body">
            <h5><strong>Tiago Miguel Vicente Pino</strong></h5>
            <p>Função: Designer e Projetista de Sistemas Analógicos e Digitais</p>
            <p>Ao longo deste projeto tive a oportunidade de implementar sistemas de 
              comunicação (MQTT), processamento de imagem e de controlo de dispositivos 
              recorrendo a microcontroladores (Rasp/ESP).  Fui também responsável por 
              implementar sistemas analógicos de interação com o utilizador, nomeadamente o 
              sistema de sinalização luminosa de emergência. Para além disso desempenhei 
              papeis de gestão e de agilização do projeto nas suas diferentes partes integrantes.</p>
          </div>
        </div>
      </div>
      <!-- Team Member 5 -->
      <div class="col-md-4 team-member">
        <div class="card">
          <div class="img_container">
            <img src="/static/images/TEAM_RUI_MARTINS.jpg" alt="Rui Filipe Castro Martins">
          </div>
          <div class="card-body">
            <h5><strong>Rui Filipe Castro Martins</strong></h5>
            <p>Função: Desenvolvedor de Software</p>
            <p>Como parte da Departamento 3, participei na implementação de 
              software para a maquete, focando-me na integração de sistemas e no desenvolvimento 
              de soluções para controlo de dispositivos. Programei microcontroladores e participei, 
              ativamente, no processo de otimização de algoritmos para garantir o bom funcionamento 
              do projeto. Esta foi uma experiência única por introduzir diversos desafios completamente 
              novos e obrigar a um nível de organização em tudo superior a projetos passados dos quais fiz parte.</p>
          </div>
        </div>
      </div>
      <!-- Team Member 6 -->
      <div class="col-md-4 team-member">
        <div class="card">
          <div class="img_container">
            <img src="/static/images/TEAM_LUCAS.jpg" alt="José Lucas Camacho Monteiro" style="height: 130%;">
          </div>
          <div class="card-body">
            <h5><strong>José Lucas Camacho Monteiro</strong></h5>
            <p>Função: Projetista e Modelador 3D</p>
            <p>No desenvolvimento deste projeto, adquiri competências em diversas áreas da engenharia, 
              bem como competências sociais essenciais para a vida de um membro de uma equipa. 
              O projeto proporcionou-me a oportunidade de trabalhar com uma equipa alargada, 
              o que nem sempre é uma tarefa fácil. No entanto, os obstáculos foram superados 
              através de uma comunicação clara. Cada desafio e objetivo foi ultrapassado graças à 
              colaboração e à descoberta em grupo. Ao integrar o Departamento 1, desenvolvi sobretudo 
              as minhas aptidões em desenho CAD (2D e 3D) e bricolagem, assim como o meu sentido de 
              organização e planeamento. Levo comigo a consciência da importância de manter a documentação 
              organizada e de acompanhar a evolução de todas as vertentes do projeto, mesmo daquelas com 
              que não estou diretamente envolvido.</p>
          </div>
        </div>
      </div>
      <!-- Team Member 7 -->
      <div class="col-md-4 team-member">
        <div class="card">
          <div class="img_container">
            <img src="/static/images/TEAM_RUI_SOUSA.jpg" alt="Rui Pedro Oliveira Sousa" style="height: 102.5%; width: 101.5%;">
          </div>
          <div class="card-body">
            <h5>Rui Pedro Oliveira Sousa</h5>
            <p>Função: Responsável pela Documentação</p>
            <p>Ao longo deste projeto, fui responsável pela elaboração de documentos essenciais para a equipa, 
              garantindo que todos os membros tivessem acesso equitativo à informação e ao conhecimento necessário. 
              Numa fase final, contribuí ativamente para a construção da maquete, assim como para a integração 
              elétrica entre os diferentes sistemas.</p>
          </div>
        </div>
      </div>
      <!-- Team Member 8 -->
      <div class="col-md-4 team-member">
        <div class="card">
          <div class="img_container">
            <img src="/static/images/TEAM_RENATO.jpg" alt="Renato Filipe Silva Vieira" style="height: 105%;">
          </div>
          <div class="card-body">
            <h5>Renato Filipe Silva Vieira</h5>
            <p>Função: Projetista de Sistemas Elétricos e Infraestrutura de Alimentação</p>
            <p>Durante o desenvolvimento deste projeto, tive a oportunidade de trabalhar diretamente na 
              conceção e implementação da infraestrutura elétrica da maquete da smart city, abrangendo a 
              projeção de circuitos, distribuição de alimentação e modelagem da cablagem. Esta experiência 
              permitiu-me aplicar conhecimentos técnicos em contexto real, enfrentando desafios práticos que 
              exigiram não só capacidade de adaptação, mas também pensamento crítico e atenção ao detalhe.Um 
              dos aspetos mais enriquecedores deste projeto foi o trabalho em equipa. A colaboração constante 
              com colegas de diferentes áreas revelou-se essencial para garantir a integração eficaz dos 
              sistemas e a superação de obstáculos. Este ambiente multidisciplinar reforçou em mim a importância 
              da comunicação clara, do espírito colaborativo e da responsabilidade partilhada, valores que 
              considero fundamentais no desenvolvimento de qualquer projeto de engenharia.</p>
          </div>
        </div>
      </div>
      <!-- Team Member 9 -->
      <div class="col-md-4 team-member">
        <div class="card">
          <div class="img_container">
            <img src="/static/images/TEAM_JOAO.png" alt="João António Almeida de Sousa Melo" style="scale: 1.75;">
          </div>
          <div class="card-body">
            <h5>João António Almeida de Sousa Melo</h5>
            <p>Função: Designer do Esquema Elétrico da Maquete e Sistemas de Alimentação</p>
            <p>Ao longo deste projeto tive a responsabilidade de desenhar e implementar os sistemas de alimentação 
              elétrica, assegurando a correta distribuição de energia para todos os módulos da maquete. 
              Esta experiência permitiu-me aprofundar conhecimentos em desenho CAD, seleção de componentes e 
              análise de segurança elétrica. Colaborei com a equipa na resolução de desafios técnicos e na 
              otimização do layout dos sistemas, contribuindo para a fiabilidade e robustez do projeto como um todo.</p>
          </div>
        </div>
      </div>
      <!-- Team Member 10 -->
      <div class="col-md-4 team-member">
        <div class="card">
          <div class="img_container">
            <img src="/static/images/TEAM_LOBAO.jpg" alt="Pedro Marques Lobão" style="scale: 1;">
          </div>
          <div class="card-body">
            <h5>Pedro Marques Lobão</h5>
            <p>Função: Multidisciplinar</p>
            <p>Durante o projeto de Engenharia de Sistemas, desenvolvi sozinho um painel automatizado que segue a luz 
              solar e um estacionamento inteligente. Além disso, construí os semáforos e colaborei no treinamento do 
              modelo de inteligência artificial para detecção de veículos de emergência. Participei ativamente da 
              construção da maquete, cortando e preparando madeiras, desenhando o esquema 2D nas placas, fazendo buracos, 
              estaca para as câmeras especialmente construída e montando cancelas. Realizei a soldagem dos fios em quase 
              todas as conexões da maquete e ajudei na preparação dos entregáveis junto com o Arthur. Também colaborei 
              na implementação do sistema de iluminação inteligente, auxiliei o Tiago no sistema de emergência, colei 
              prédios e montei as cancelas do sistema de emergência.</p>
          </div>
        </div>
      </div>
      <!-- Team Member 11 -->
      <div class="col-md-4 team-member">
        <div class="card">
          <div class="img_container">
            <img src="/static/images/TEAM_PEDRO.jpg" alt="Pedro Miguel Oliveira Sousa" style="height: 100%;">
          </div>
          <div class="card-body">
            <h5>Pedro Miguel Oliveira Sousa</h5>
            <p>Função: Responsável pelo Planeamento Elétrico e Apoio à Documentação</p>
            <p>Ao integrar o Departamento 2, trabalhei na componente elétrica do projeto, desenvolvendo competências 
              técnicas e percebendo a importância do planeamento rigoroso. Fui responsável pela escolha dos materiais, 
              ligações entre componentes e posicionamento dos elementos e furos na maquete. Este trabalho exigiu atenção 
              ao detalhe, pensamento crítico e articulação com outros departamentos para garantir a integração do sistema. 
              Também colaborei na documentação, participando na elaboração de atas e no relatório final, o que reforçou a 
              importância da comunicação clara. Este projeto deu-me uma visão prática do trabalho em equipa e aumentou a 
              minha responsabilidade e confiança para futuros projetos.</p>
          </div>
        </div>
      </div>
      <!-- Additional team members can be added here -->
    </div>
  </div>
</section>

<!-- Footer -->
{% include 'footer.html' %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
